In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(1054)

In [6]:
df = pd.DataFrame(randn(5,4),index = 'A B C D E'.split(), columns='W X Y Z'.split())

In [7]:
df

          W         X         Y         Z
A  0.276023  0.533367 -0.553866  0.276763
B  0.912241  1.691423 -0.050857  0.777460
C -0.911111 -0.079538 -2.148618  0.812203
D -0.346445 -1.210581  0.605388  1.673265
E -0.084595  0.594960  0.402674  0.187270

In [9]:
df['W']

A    0.276023
B    0.912241
C   -0.911111
D   -0.346445
E   -0.084595
Name: W, dtype: float64

In [10]:
df[['W','Y']]

          W         Y
A  0.276023 -0.553866
B  0.912241 -0.050857
C -0.911111 -2.148618
D -0.346445  0.605388
E -0.084595  0.402674

In [11]:
df['J'] = df['Y']+df['X']

In [12]:
print (df)

          W         X         Y         Z         J
A  0.276023  0.533367 -0.553866  0.276763 -0.020499
B  0.912241  1.691423 -0.050857  0.777460  1.640566
C -0.911111 -0.079538 -2.148618  0.812203 -2.228156
D -0.346445 -1.210581  0.605388  1.673265 -0.605193
E -0.084595  0.594960  0.402674  0.187270  0.997634

In [13]:
df

          W         X         Y         Z         J
A  0.276023  0.533367 -0.553866  0.276763 -0.020499
B  0.912241  1.691423 -0.050857  0.777460  1.640566
C -0.911111 -0.079538 -2.148618  0.812203 -2.228156
D -0.346445 -1.210581  0.605388  1.673265 -0.605193
E -0.084595  0.594960  0.402674  0.187270  0.997634

In [14]:
df.drop('J', axis = 1 )

          W         X         Y         Z
A  0.276023  0.533367 -0.553866  0.276763
B  0.912241  1.691423 -0.050857  0.777460
C -0.911111 -0.079538 -2.148618  0.812203
D -0.346445 -1.210581  0.605388  1.673265
E -0.084595  0.594960  0.402674  0.187270

In [15]:
df

          W         X         Y         Z         J
A  0.276023  0.533367 -0.553866  0.276763 -0.020499
B  0.912241  1.691423 -0.050857  0.777460  1.640566
C -0.911111 -0.079538 -2.148618  0.812203 -2.228156
D -0.346445 -1.210581  0.605388  1.673265 -0.605193
E -0.084595  0.594960  0.402674  0.187270  0.997634

In [16]:
df.drop('J', axis = 1, inplace = True)

In [17]:
df

          W         X         Y         Z
A  0.276023  0.533367 -0.553866  0.276763
B  0.912241  1.691423 -0.050857  0.777460
C -0.911111 -0.079538 -2.148618  0.812203
D -0.346445 -1.210581  0.605388  1.673265
E -0.084595  0.594960  0.402674  0.187270

In [20]:
ed = df.drop('E')

In [21]:
ed

          W         X         Y         Z
A  0.276023  0.533367 -0.553866  0.276763
B  0.912241  1.691423 -0.050857  0.777460
C -0.911111 -0.079538 -2.148618  0.812203
D -0.346445 -1.210581  0.605388  1.673265

In [22]:
df

          W         X         Y         Z
A  0.276023  0.533367 -0.553866  0.276763
B  0.912241  1.691423 -0.050857  0.777460
C -0.911111 -0.079538 -2.148618  0.812203
D -0.346445 -1.210581  0.605388  1.673265
E -0.084595  0.594960  0.402674  0.187270

In [28]:
df.loc['A']

W    0.276023
X    0.533367
Y   -0.553866
Z    0.276763
Name: A, dtype: float64

In [29]:
df.loc['A', 'Z']

0.2767628912025178

In [31]:
df.loc[['B','E'],['X','Z']]

          X        Z
B  1.691423  0.77746
E  0.594960  0.18727

In [32]:
df

          W         X         Y         Z
A  0.276023  0.533367 -0.553866  0.276763
B  0.912241  1.691423 -0.050857  0.777460
C -0.911111 -0.079538 -2.148618  0.812203
D -0.346445 -1.210581  0.605388  1.673265
E -0.084595  0.594960  0.402674  0.187270

In [33]:
df>0

       W      X      Y     Z
A   True   True  False  True
B   True   True  False  True
C  False  False  False  True
D  False  False   True  True
E  False   True   True  True

In [44]:
df[df>0]

          W         X         Y         Z
A  0.276023  0.533367       NaN  0.276763
B  0.912241  1.691423       NaN  0.777460
C       NaN       NaN       NaN  0.812203
D       NaN       NaN  0.605388  1.673265
E       NaN  0.594960  0.402674  0.187270

In [48]:
df[df['W']<0]

          W         X         Y         Z
C -0.911111 -0.079538 -2.148618  0.812203
D -0.346445 -1.210581  0.605388  1.673265
E -0.084595  0.594960  0.402674  0.187270

In [42]:
df[df['W']>0]['Z']

A    0.276763
B    0.777460
Name: Z, dtype: float64

In [51]:
df[df['W']<0][['X','Y']]

          X         Y
C -0.079538 -2.148618
D -1.210581  0.605388
E  0.594960  0.402674

In [55]:
df[(df['W'] > 0) & (df['Y'] < 0)]

          W         X         Y         Z
A  0.276023  0.533367 -0.553866  0.276763
B  0.912241  1.691423 -0.050857  0.777460

In [56]:
df

          W         X         Y         Z
A  0.276023  0.533367 -0.553866  0.276763
B  0.912241  1.691423 -0.050857  0.777460
C -0.911111 -0.079538 -2.148618  0.812203
D -0.346445 -1.210581  0.605388  1.673265
E -0.084595  0.594960  0.402674  0.187270

In [57]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.276023  0.533367 -0.553866  0.276763
1     B  0.912241  1.691423 -0.050857  0.777460
2     C -0.911111 -0.079538 -2.148618  0.812203
3     D -0.346445 -1.210581  0.605388  1.673265
4     E -0.084595  0.594960  0.402674  0.187270

In [63]:
newind = 'CD DE SW ER AQ'.split()

In [64]:
df['States'] = newind

In [65]:
df

          W         X         Y         Z States
A  0.276023  0.533367 -0.553866  0.276763     CD
B  0.912241  1.691423 -0.050857  0.777460     DE
C -0.911111 -0.079538 -2.148618  0.812203     SW
D -0.346445 -1.210581  0.605388  1.673265     ER
E -0.084595  0.594960  0.402674  0.187270     AQ

In [66]:
df.set_index('States')

               W         X         Y         Z
States
CD      0.276023  0.533367 -0.553866  0.276763
DE      0.912241  1.691423 -0.050857  0.777460
SW     -0.911111 -0.079538 -2.148618  0.812203
ER     -0.346445 -1.210581  0.605388  1.673265
AQ     -0.084595  0.594960  0.402674  0.187270