In [1]:
# Common imports
import numpy as np
import os
import tarfile
import urllib
import pandas as pd

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

In [3]:
data_read = pd.read_csv("dataset.csv", delimiter=',')

In [4]:
data_read.head()

,id,surname,firstname,middlename,gender,gender_male,gender_female,state,settlement,rural_settlement,...,NmA,NmC,NmW,health_status,alive,dead,report_outcome,unconfirmed,confirmed,null_serotype
0,1,Solade,Grace,Solape,Female,0,1,Rivers,Rural,1,...,0,0,0,alive,1,0,confirmed,0,1,1
1,2,Eneche,Kure,Balogun,Male,1,0,Ebonyi,Rural,1,...,0,0,1,Alive,1,0,Confirmed,1,0,1
2,3,Sanusi,Adaugo,Katerine,Female,0,1,Ogun,Urban,0,...,0,0,1,Dead,0,1,Not Confirmed,1,0,1
3,4,Sowore,Mooslemat,Ifedayo,Female,0,1,Ondo,Rural,1,...,0,0,1,Alive,1,0,Not Confirmed,1,0,1
4,5,Abdusalam,Yusuf,Okafor,Male,1,0,Oyo,Urban,0,...,0,0,1,Alive,1,0,Confirmed,1,0,1

In [5]:
data_read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284484 entries, 0 to 284483
Data columns (total 40 columns):
id                            284484 non-null int64
surname                       284484 non-null object
firstname                     284484 non-null object
middlename                    284484 non-null object
gender                        284484 non-null object
gender_male                   284484 non-null int64
gender_female                 284484 non-null int64
state                         284484 non-null object
settlement                    284484 non-null object
rural_settlement              284484 non-null int64
urban_settlement              284484 non-null int64
report_date                   284484 non-null object
report_year                   284484 non-null int64
age                           284484 non-null int64
age_str                       284484 non-null object
date_of_birth                 284484 non-null object
child_group                   284484 non-null int64
adult_group                   284484 non-null int64
disease                       284484 non-null object
cholera                       284484 non-null int64
diarrhoea                     284484 non-null int64
measles                       284484 non-null int64
viral_haemmorrhaphic_fever    284484 non-null int64
meningitis                    284484 non-null int64
ebola                         284484 non-null int64
marburg_virus                 284484 non-null int64
yellow_fever                  284484 non-null int64
rubella_mars                  284484 non-null int64
malaria                       284484 non-null int64
serotype                      284484 non-null object
NmA                           284484 non-null int64
NmC                           284484 non-null int64
NmW                           284484 non-null int64
health_status                 284484 non-null object
alive                         284484 non-null int64
dead                          284484 non-null int64
report_outcome                284484 non-null object
unconfirmed                   284484 non-null int64
confirmed                     284484 non-null int64
null_serotype                 284484 non-null int64
dtypes: int64(27), object(13)
memory usage: 86.8+ MB